<li style="margin: 15px;"
    [ngClass]="{'list-group-item':true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
    <p style="color: rgb(124, 124, 124); text-align: right; font-size: 1.5rem;">
        {{ created_at | date: 'short' | uppercase}}</p>
    <h2 style="font-weight: bolder; font-size: 2.5rem;" >{{ title }}</h2>

    <p style="padding: 15px; ">{{ content }}</p>

    <button style="margin: 5px"
            class="btn btn-success"
            (click)="lovePlusUn()"
            type="button">Love It !</button>

    <button style="margin: 5px"
            class="btn btn-danger"
            (click)="loveMoinsUn()"
            type="button">don't love It !</button>
</li>
