<ul style="padding: 150px;">
    <h1 style="font-size: 2.5rem;">Posts</h1>
    <app-post-list-item *ngFor="let post of posts"
                        [title]="post.title"
                        [content]="post.content"
                        [created_at]="post.created_at"
                        [loveIts]="post.loveIts"></app-post-list-item>
</ul>
